
.title{
    text-align: center;
}
.main-button{
    padding: 40px;
    border-radius: 75px;
    font-size: 20px;
    // width: 100px;
    // height: 100px;
}
.food-button{
    border: 1px solid #ff4545;
    color: #ff4545;
}
ion-col div{
    margin: auto;
    text-align: center;
}
.bigger{
    font-size: 40px;
}